// Font
@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/BasierCircle-Regular.ttf");
}

@main-font: "Basier Circle", "sans-serif";

// Colors
@white: #fff;
@black: #000;

@off-white: #fbfbfb;
@greyish: #b2b2b2;
@blackish: #262626;
@purplish-blue: #3b40c8;
