@import "LessConstants";

.main-page {
  font-family: @main-font;
  background: #111;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;

  .heading {
    font-size: 36px;
    font-weight: 700;
    color: @off-white;
    text-align: center;
    margin-bottom: 2%;

    span {
      color: @purplish-blue;
    }
  }

  .paragraph {
    color: @greyish;
    letter-spacing: 0.04em;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;

    @media (max-width: 800px) {
      font-size: 17px;
    }
    @media (min-width: 801px) {
      font-size: 19px;
    }

    &.margin-bottom {
      @media (max-width: 800px) {
        margin-bottom: 5%;
      }
      @media (min-width: 801px) {
        margin-bottom: 2%;
      }
    }

    &.margin-top {
      @media (max-width: 800px) {
        margin-top: 5%;
      }
      @media (min-width: 801px) {
        margin-top: 2%;
      }
    }
  }

  a {
    font-size: 21px;
    letter-spacing: 0.04em;
    color: @purplish-blue;
    text-decoration: none;
    font-style: italic;

    &:hover {
      opacity: 0.9;
    }
  }

  .project-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 601px) and (max-width: 800px) {
      justify-content: space-around;
      max-width: 95%;
    }
    @media (min-width: 801px) and (max-width: 1250px) {
      justify-content: space-around;
      max-width: 90%;
    }
    @media (min-width: 1251px) {
      justify-content: space-around;
      max-width: 1350px;
    }
  }
}
