@import "LessConstants";

.project-box {
  font-family: @main-font;
  background: #fefefe;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 250px;
    height: 300px;
    padding: 4px;
    margin: 10px 5px;
  }
  @media (min-width: 601px) and (max-width: 800px) {
    width: 300px;
    height: 350px;
    padding: 8px;
    margin: 10px 8px;
  }
  @media (min-width: 801px) and (max-width: 1250px) {
    width: 400px;
    height: 450px;
    padding: 8px;
    margin: 10px 8px;
  }
  @media (min-width: 1251px) {
    width: 500px;
    height: 550px;
    padding: 10px;
    margin: 10px;
  }

  &:hover {
    transform: scale(1.01);
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    color: @purplish-blue;
  }

  .image {
    border-radius: 2px;

    @media (max-width: 600px) {
      width: 200px;
      height: 200px;
      margin: 8px auto;
    }
    @media (min-width: 601px) and (max-width: 800px) {
      width: 250px;
      height: 250px;
      margin: 8px auto;
    }
    @media (min-width: 801px) and (max-width: 1250px) {
      width: 350px;
      height: 350px;
      margin: 10px auto;
    }
    @media (min-width: 1251px) {
      width: 450px;
      height: 450px;
      margin: 12px auto;
    }
  }

  .description {
    color: @blackish;
    font-size: 18px;
    padding: 0 3px;
  }
}
